# RESOLUCOES DOS LABORATORIOS

In [7]:
# Importado as bibliotecas
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# MOD01
# LAB01

# Sistemas de recomendação,
# Gerenciamento de riscos financeiros,
# Melhoria em serviços de saúde,
# Reconhecimento de imagens,
# Gerenciamento eficiente de energia:

# LAB02

# NumPy é o pacote fundamental para computação científica em Python. 
# É uma biblioteca Python que fornece um objeto array multidimensional, 
# vários objetos derivados (como arrays e matrizes mascarados) e uma 
# variedade de rotinas para operações rápidas em arrays, incluindo matemática, 
# lógica, manipulação de formas, classificação, seleção, E/S, 
# transformadas discretas de Fourier, álgebra linear básica, 
# operações estatísticas básicas, simulação aleatória e muito mais.

1.25

In [40]:
# MOD 02
# LAB 01

#dataset => 562 linhas e 21 colunas
# colunas
# 'CODCLI', 'NOME', 'FANTASIA', 'ENDERECO', 'BAIRRO', 
# 'CIDADE', 'ESTADO', 'CEP', 'END_COB', 'BAI_COB', 
# 'CID_COB', 'EST_COB', 'CEP_COB', 'CNPJ',
# 'INSCRICAO', 'FONE1', 'FAX', 'E_MAIL', 'DATA_CAD', 'ICMS',
# 'REVENDA_CONSUMIDOR'
clientes = pd.read_csv('mod_02/clientes.csv', sep=';')
# print(clientes.head(2))

#dataset => 11322 linhas e 7 colunas 
# 'NUM_PEDIDO', 'CODCLI', 'CODVEN', 'DATA_EMISSAO', 'VLR_TOTAL', 'SITUACAO', 'OBSERVACOES'
pedidos = pd.read_csv('mod_02/pedidos.csv', sep=';')
# pedidos.head(2)

frames = [clientes, pedidos]

# Concaternar (uniao)
df = pd.concat(frames)

# Juncao
df = pd.concat(frames, axis=1, join='inner')

# metodo ja foi utilizado muito
df = clientes.append(pedidos)

merger = pd.merge(clientes[['CODCLI', 'NOME']], pedidos[['CODCLI','VLR_TOTAL']], on='CODCLI')

agrupado = merger.groupby(['CODCLI', 'NOME']).count().reset_index()

df = agrupado.rename(columns={'VLR_TOTAL': 'QTD'}, inplace=True) #inplace=True => serve para fixar a funcao

agrupado.tail()

C:\Users\Administrator\AppData\Local\Temp\ipykernel_1592\3024308271.py:28: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = clientes.append(pedidos)

     CODCLI                                        NOME  QTD
556     622            MULTIACESSO BRINDES E COM VISUAL   15
557     623                          MANOEL GOMES FILHO   20
558     624                  SILVIO LUIZ RODRIGUES M.E.   21
559     625                            IGLESIAS BRINDES   18
560     626  PROGERAL IND. DE ARTEFATOS PLASTICOS LTDA.   23

In [50]:
# MOD 02
# LAB 02

pedidos = pd.read_csv('mod_02/pedidos.csv', sep=';')
i_pedidos = pd.read_csv('mod_02/itenspedido.csv', sep=';')

i_pedidos.head()

merger = pd.merge(pedidos[['NUM_PEDIDO', 'DATA_EMISSAO']], i_pedidos[['NUM_PEDIDO','QUANTIDADE', 'PR_UNITARIO']], on='NUM_PEDIDO')

df = merger.groupby(['NUM_PEDIDO', 'DATA_EMISSAO']).sum().reset_index()

df['TOTAL'] = df['QUANTIDADE'] * df['PR_UNITARIO']

df.head()

   NUM_PEDIDO             DATA_EMISSAO  QUANTIDADE  PR_UNITARIO     TOTAL
0           2  2012-12-18 01:53:13.497          90         1.12    100.80
1           3  2012-12-18 01:53:13.497          70         2.60    182.00
2           4  2012-12-18 01:53:13.497         500         3.81   1905.00
3           5  2012-12-18 01:53:13.497          60         2.54    152.40
4           6  2012-12-18 01:53:13.497        1005        15.77  15848.85

In [57]:
import datetime as dt

data = dt.date.today()
data1 = dt.date(2021,9,24)
print(data1)
print(data1.day)
print(data1.month)
print(data1.year)

2021-09-24
24
9
2021

In [63]:
# formatos
ts = pd.Timestamp('2021-08-30')
ts1 = pd.Timestamp('29/11/2001')
ts2 = pd.Timestamp('05/28/2001')
ts

C:\Users\Administrator\AppData\Local\Temp\ipykernel_1592\248192870.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  ts1 = pd.Timestamp('29/11/2001')

Timestamp('2021-08-30 00:00:00')

In [77]:
index = pd.DatetimeIndex(['2021-08-30','29/11/2022','05/28/2023','05/28/2024'])

data = pd.Series([0,10,20,30], index=index)

data.head()

C:\Users\Administrator\AppData\Local\Temp\ipykernel_1592\1860074240.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  index = pd.DatetimeIndex(['2021-08-30','29/11/2022','05/28/2023','05/28/2024'])

2021-08-30     0
2022-11-29    10
2023-05-28    20
2024-05-28    30
dtype: int64

In [79]:
d1 = data['2021':'2023']
d1

2021-08-30     0
2022-11-29    10
2023-05-28    20
dtype: int64

In [83]:
s = pd.Series(['Jan 15, 2022','29/11/2022','05/28/2023','05/28/2024'])

conv_date = pd.to_datetime(s)

conv_date.head()

C:\Users\Administrator\AppData\Local\Temp\ipykernel_1592\1476682593.py:3: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  conv_date = pd.to_datetime(s)

0   2022-01-15
1   2022-11-29
2   2023-05-28
3   2024-05-28
dtype: datetime64[ns]

In [97]:
# obter data
ts = pd.Timestamp('15/01/2020')

# adicionando mais dias (25/01/2020)
ts1 = ts + pd.Timedelta(days = 10)

# adicionando horas e minutos
ts2 = ts + pd.Timedelta(hours=5, minutes=30)

# fazendo uma operacao dentra do mes
delta = ts1 - ts

# pegando os dias do deltatime
dias = delta.days

print(f'ts: {ts}')
print(f'ts1: {ts1}')
print(f'ts2: {ts2}')
print(f'delta: {delta}')
print(f'dias: {dias}')

ts: 2020-01-15 00:00:00
ts1: 2020-01-25 00:00:00
ts2: 2020-01-15 05:30:00
delta: 10 days 00:00:00
dias: 10

C:\Users\Administrator\AppData\Local\Temp\ipykernel_1592\2997907298.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  ts = pd.Timestamp('15/01/2020')

In [100]:
# MOD 03
# LAB 01
data1 = input('Informe a PRIMEIRA data: ')
data2 = input('Informe a SEGUNDA data: ')

dias = int(input('Agora informe o numero de dias: '))

ts1 = pd.Timestamp(data1)
ts2 = pd.Timestamp(data2)

if ts1 > ts2:
    difer = ts1 - ts2
else:
    difer = ts2 - ts1

ts3 = ts2 + pd.Timedelta(days= dias)

print(f'Data 01: {ts1}, Data 02: {ts2}, Diferencia: {difer}, Dias: {dias}, Dias adicionado: {ts3}')

Data 01: 2000-01-15 00:00:00, Data 02: 2010-01-15 00:00:00, Diferencia: 3653 days 00:00:00, Dias: 31, Dias adicionado: 2010-02-15 00:00:00

C:\Users\Administrator\AppData\Local\Temp\ipykernel_1592\3962032552.py:8: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  ts1 = pd.Timestamp(data1)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_1592\3962032552.py:9: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  ts2 = pd.Timestamp(data2)

In [110]:
# SERIES CATEGORIZADAS
# DATAFRAMES COM VARIAVEIS CATEGORIZADAS
# Sexo: Masculino e Feminino (0,1)
# Periodos(periodos escolares): manha, tarde e noite
# Regioes de uma: leste, oeste, norte e sul

# Servir para agrupar elementes, caracteristicas
# Nao podem sofrer alteracoes temporais

s = pd.Series(['a', 'b', 'c', 'a'], dtype='category' )
print(s,'\n')

c = pd.Categorical(['a', 'b', 'c', 'a', 'b', 'c', 'c'])
print(c,'\n')

c1 = pd.Categorical(['a', 'b', 'c', 'a', 'b', 'c', 'c'], ordered=True)
print(c1)

0    a
1    b
2    c
3    a
dtype: category
Categories (3, object): ['a', 'b', 'c']

['a', 'b', 'c', 'a', 'b', 'c', 'c']
Categories (3, object): ['a', 'b', 'c']

['a', 'b', 'c', 'a', 'b', 'c', 'c']
Categories (3, object): ['a' < 'b' < 'c']