In [15]:
import pandas as pd
from numpy.random import randint

#Criando a series alunos
alunos = ['Jefferson','Lucas','Meggy','Paulo','Talita','Ana']
s_alunos = pd.Series(range(len(alunos)), index=alunos)

#Criando a series Disciplinas
disciplinas = ['series', 'dataframe', 'plotagem', 'machine learning']
s_disciplinas = pd.Series(range(len(disciplinas)), index=disciplinas)

# Definindos turmas
alunos_turma_a = ['Jefferson','Lucas','Meggy']
alunos_turma_b = ['Paulo','Talita','Ana']

# Notas
def gera_nota(aluno, disciplina):
    return {'aluno':s_alunos[aluno], 'disciplina': s_disciplinas[disciplina], 'nota': randint(1,10)}

print(f'Turma A: {alunos_turma_a}\nTurma B: {alunos_turma_b}')
gera_nota('Talita', 'plotagem')

Turma A: ['Jefferson', 'Lucas', 'Meggy']
Turma B: ['Paulo', 'Talita', 'Ana']

{'aluno': 4, 'disciplina': 2, 'nota': 4}

In [22]:
notas_por_aluno = []

for aluno in alunos_turma_a:
    for disciplina in disciplinas:
        notas_por_aluno.append(gera_nota(aluno,disciplina))
        
notas_por_aluno

df_turma_a = pd.DataFrame(notas_por_aluno)
df_turma_a.head(2)

   aluno  disciplina  nota
0      0           0     3
1      0           1     9

In [25]:
notas_por_aluno = []

for aluno in alunos_turma_b:
    for disciplina in disciplinas:
        notas_por_aluno.append(gera_nota(aluno,disciplina))
        
notas_por_aluno

df_turma_b = pd.DataFrame(notas_por_aluno)
df_turma_b.head(2)

   aluno  disciplina  nota
0      3           0     6
1      3           1     9


- Media = média aritmetica
- Mediana = o valor central (no centro da distribuição)
- Moda = o valor que se repete mais vezes (o que possui a maior frequencia)

In [34]:
# MEDIA
import numpy as np

notas = list(df_turma_a.nota)
print(f'Notas: {notas}')

media = sum(notas)/len(notas)
print(f'Media: {media}')

media_np = np.mean(notas)
print(f'Media_np: {media_np}')

media_df = df_turma_a.nota.mean()
print(f'Media_df: {media_df}')

Notas: [3, 9, 6, 3, 6, 4, 4, 1, 8, 4, 3, 6]
Media: 4.75
Media_np: 4.75
Media_df: 4.75

In [35]:
# mediana = VALOR CENTRAL

numeros = [1,9,3,4,5] 
qtd_numeros = len(numeros)
numeros.sort() # [1,3,4,5,9]

if qtd_numeros % 2 == 0:
    mediana_1 = numeros[qtd_numeros//2]
    mediana_2 = numeros[qtd_numeros//2 - 1]
    mediana = (mediana_1 + mediana_2)/2
else:
    mediana = numeros[qtd_numeros//2]

print(f'Mediana: {mediana}')

Mediana: 4

In [38]:
import numpy as np

notas = list(df_turma_a.nota)
print(f'Notas: {notas}')

mediana_np = np.median(notas)
print(f'Mediaana_np: {mediana_np}')

mediana_df = df_turma_a.nota.median()
print(f'Mediana_df: {mediana_df}')

Notas: [3, 9, 6, 3, 6, 4, 4, 1, 8, 4, 3, 6]
Mediaana_np: 4.0
Mediana_df: 4.0

In [41]:
import statistics
numeros = [1,2,3,4,5,5,6,7,6,8,9,6]

frequencia = {} # {'1':1}

for numero in numeros:
    frequencia[numero] = numeros.count(numero)
    
chave = max(frequencia, key=frequencia.get)
valor = frequencia[chave]

print(f'Moda: {chave}')
print(f'Frequencia: {valor}')

print(f'Usando o Statistics: {statistics.mode(numeros)}')

Moda: 6
Frequencia: 3
Usando o Statistics: 6

In [44]:
from scipy import stats
notas = list(df_turma_a.nota)
print(f'Notas: {notas}')

moda_df = df_turma_a.nota.mode()
print(f'Moda_df: {moda_df}')

moda_st = stats.mode(df_turma_a.nota)
print(f'Moda_st: {moda_st}')

Notas: [3, 9, 6, 3, 6, 4, 4, 1, 8, 4, 3, 6]
Moda_df: 0    3
1    4
2    6
Name: nota, dtype: int64
Moda_st: ModeResult(mode=array([3], dtype=int64), count=array([3]))

C:\Users\Administrator\AppData\Local\Temp\ipykernel_2848\3017889046.py:8: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  moda_st = stats.mode(df_turma_a.nota)

In [52]:
# Varianca
# media
#valores - media elevado a dois
# somaria divida pela total de numeros

numeros = [1,7,3]

media = np.mean(numeros)

num_1 = (numeros[0] - media) ** 2
num_2 = (numeros[1] - media) ** 2
num_3 = (numeros[2] - media) ** 2

var = (num_1 + num_2 + num_3)/  3
print(f'Var: {var}')

var_st = statistics.variance(numeros)
print(f'var_st: {var_st}')

var_np = np.var(numeros)
print(f'var_np: {var_np}')

Var: 6.222222222222221
var_st: 9.333333333333334
var_np: 6.222222222222221

In [53]:
notas = list(df_turma_a.nota)
print(f'Notas: {notas}')

var_np = np.var(df_turma_a.nota)
print(f'var_np: {var_np}')

var_df = df_turma_a.nota.var()
print(f'var_df: {var_df}')

var_st = statistics.variance(notas)
print(f'var_st: {var_st}')

Notas: [3, 9, 6, 3, 6, 4, 4, 1, 8, 4, 3, 6]
var_np: 4.854166666666667
var_df: 5.295454545454546
var_st: 5.295454545454546