In [15]:
import pandas as pd
from numpy.random import randint

#Criando a series alunos
alunos = ['Jefferson','Lucas','Meggy','Paulo','Talita','Ana']
s_alunos = pd.Series(range(len(alunos)), index=alunos)

#Criando a series Disciplinas
disciplinas = ['series', 'dataframe', 'plotagem', 'machine learning']
s_disciplinas = pd.Series(range(len(disciplinas)), index=disciplinas)

# Definindos turmas
alunos_turma_a = ['Jefferson','Lucas','Meggy']
alunos_turma_b = ['Paulo','Talita','Ana']

# Notas
def gera_nota(aluno, disciplina):
    return {'aluno':s_alunos[aluno], 'disciplina': s_disciplinas[disciplina], 'nota': randint(1,10)}

print(f'Turma A: {alunos_turma_a}\nTurma B: {alunos_turma_b}')
gera_nota('Talita', 'plotagem')

Turma A: ['Jefferson', 'Lucas', 'Meggy']
Turma B: ['Paulo', 'Talita', 'Ana']

{'aluno': 4, 'disciplina': 2, 'nota': 4}

In [22]:
notas_por_aluno = []

for aluno in alunos_turma_a:
    for disciplina in disciplinas:
        notas_por_aluno.append(gera_nota(aluno,disciplina))
        
notas_por_aluno

df_turma_a = pd.DataFrame(notas_por_aluno)
df_turma_a.head(2)

   aluno  disciplina  nota
0      0           0     3
1      0           1     9

In [25]:
notas_por_aluno = []

for aluno in alunos_turma_b:
    for disciplina in disciplinas:
        notas_por_aluno.append(gera_nota(aluno,disciplina))
        
notas_por_aluno

df_turma_b = pd.DataFrame(notas_por_aluno)
df_turma_b.head(2)

   aluno  disciplina  nota
0      3           0     6
1      3           1     9