In [8]:
import pandas as pd
# ler os arquivos e analisar

df_prod = pd.read_csv('products.csv', sep=';')
df_prod.dtypes
df_prod.describe()
df_prod.head(2)

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,1,1,10 boxes x 20 bags,18.0,39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,19.0,17,40,25,0

In [15]:
df_cat = pd.read_csv('categories.csv', sep=';')
df_cat.dtypes
df_cat.shape
df_cat.head(2)

   CategoryID CategoryName
0           1    Beverages
1           2   Condiments

In [34]:
# merge
df_cat_name = pd.merge(df_cat[['CategoryID','CategoryName']], df_prod[['CategoryID','ProductName']])
#df.isnull().count()
df_cat_name.head()

   CategoryID CategoryName         ProductName
0           1    Beverages                Chai
1           1    Beverages               Chang
2           1    Beverages  Guaran치 Fant치stica
3           1    Beverages       Sasquatch Ale
4           1    Beverages      Steeleye Stout

In [35]:
df_cat_prod_price = pd.merge(df_cat[['CategoryID','CategoryName']], df_prod[['CategoryID','ProductName', 'UnitPrice']])
df_cat_prod_price.head(1)

   CategoryID CategoryName ProductName  UnitPrice
0           1    Beverages        Chai       18.0

In [26]:
df_cat_prod_price.groupby(['CategoryID', 'CategoryName'])['ProductName'].count()

CategoryID  CategoryName
1           Beverages         12
2           Condiments        12
3           Confections       13
4           Dairy Products    10
5           Grains/Cereals     7
6           Meat/Poultry       6
7           Produce            5
8           Seafood           12
Name: ProductName, dtype: int64