## Ler o CSV e fazer um tratamento nos seus dados

In [11]:
import pandas as pd

df = pd.read_csv('products1.csv', sep=';') #sep=';' separador

# verifica o tipo de dados
type(df)

# Ler as 5 primeiras linhas
df.head() #df.head(5)

# ler
df.tail() #df.tail(10)

df.head(2)

,ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
0,1,Chai,1,1,10 boxes x 20 bags,"18,0",39,0,10,0
1,2,Chang,1,1,24 - 12 oz bottles,"19,0",17,40,25,0

In [34]:
# LOC OU ILOC

# Lendo com o Loc
df.loc[0] # pegar a primeira linha
df.loc[0:2] # pegar da primeira linha ate a terceira linha
df.loc[[0,2]] # pegar a primeira linha e a terceira
df.loc[0:2, 'ProductID':'CategoryID'] # pegar as 0 a 2 e as colunas de prod a categ.
df.loc[[0,2], ['ProductID','CategoryID']]

# Lendo com iloc
df.iloc[0]
df.iloc[0:2]
df.iloc[[0,2]]
df.iloc[0:2, 0:4]
df.iloc[:5, :4]
df.iloc[15:, 4:]

,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued
15,32 - 500 g boxes,"17,45",29,0,10,0
16,20 - 1 kg tins,"39,0",0,0,0,1
17,16 kg pkg.,"62,5",42,0,0,0
18,10 boxes x 12 pieces,"9,2",25,0,5,0
19,30 gift boxes,"81,0",40,0,0,0

In [ ]:
# tarefas
df.iloc[:2,0:6:] 
df.iloc[:2,0::2] 
df.iloc[:2,0:6:]
df.iloc[:2,::2]
df.iloc[:,::]